.layout {
  max-width: 80em;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.main {
  height: 100%;
  padding-inline: 32px;
  flex-grow: 1;
}

@media (max-width: 48em) {
  .main {
    padding: 0 40px 64px 40px;
  }
}

@media (max-width: 35em) {
}
