.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 0 55px;
}

.logoLink {
  flex-shrink: 0;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  background: url('/shared/icon-hamburger.svg') no-repeat;
  width: 24px;
  height: 21px;
  z-index: 2;
}

.menuButton__opened {
  background: url('/shared/icon-close.svg') no-repeat;
}

.nav {
  backdrop-filter: blur(81.5485px);
  z-index: 1;
  padding-inline: clamp(3rem, 7vw, 7rem);
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 48px;
  padding-left: 0;
}

.item:hover {
  border-bottom: 3px solid var(--color-grey);
}

.active {
  border-bottom: 3px solid var(--color-white);
}

.link {
  display: block;
  text-transform: uppercase;
  color: var(--color-white);
  letter-spacing: 2.7px;
  text-decoration: none;
  padding: 39px 0 38px 0;
  white-space: nowrap;
}

.number {
  font-weight: bold;
}

@media screen and (max-width: 48em) {
  .header {
    padding: 0 0 0 39px;
  }

  .nav {
    padding-inline: 0;
  }

  .menu {
    padding: 0 48px 0 48px;
  }

  .link {
    font-size: 0.875rem;
    letter-spacing: 2.36px;
  }

  .number {
    display: none;
  }
}

@media screen and (max-width: 35em) {
  .header {
    padding: 20px 20px 0 20px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    transition: 200ms ease;
  }

  .nav__closed {
    transform: translateX(100%);
  }

  .menuButton {
    display: block;
  }

  .menu {
    flex-direction: column;
    gap: 32px;
    padding-left: 32px;
    padding-top: 118px;
  }

  .active {
    border: none;
  }

  .link {
    font-size: 1rem;
    letter-spacing: 2.7px;
    padding: 0;
  }

  .number {
    display: inline-block;
  }
}
