.heading {
  font-size: var(--fs-xl);
  font-weight: normal;
  text-transform: uppercase;
  grid-area: heading;
  justify-self: start;
}

.info {
  /* margin-top: 64px; */
  display: flex;
  justify-content: center;
}

.imageContainer {
  grid-area: image;
}

.imageWrapper {
  max-width: 445px;
}

.tabsWrapper {
  grid-area: info;
  max-width: 445px;
}

.tabPanelHeading {
  line-height: 1.1;
  margin-bottom: 14px;
}

.tabsWrapper [data-tab-list] {
  column-gap: 35px;
  margin-bottom: 37px;
}

.tabsWrapper [data-tab] {
  text-transform: uppercase;
  padding-bottom: 12px;
}

.tabsWrapper [data-selected] {
  border-bottom: 3px solid white;
  background: none;
}

.meta {
  margin-top: 28px;
  padding-top: 28px;
  border-top: 1px solid #383b4b;
  display: flex;
  text-transform: uppercase;
  gap: clamp(5vw, 3rem, 79px);
}

.metaHeading {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 2.36px;
  color: var(--color-light);
}

.metaText {
  font-size: 1.75rem;
}

@media (max-width: 48em) {
  .info {
    flex-direction: column;
    align-items: center;
    /* margin-top: 40px; */
    row-gap: 53px;
  }
  .imageWrapper {
    max-width: 300px;
  }

  .tabsWrapper [data-tabs] {
    align-items: center;
    text-align: center;
  }

  .tabsWrapper [data-tab-list] {
    margin-bottom: 32px;
  }

  .tabPanelHeading {
    margin-bottom: 8px;
  }

  .meta {
    justify-content: center;
  }
}

@media (max-width: 35em) {
  .imageWrapper {
    max-width: 170px;
  }

  .meta {
    flex-direction: column;
    row-gap: 32px;
  }
}
