.title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  max-width: 500px;
}

.linkWrapper {
  width: 100%;
  max-width: 274px;
  justify-self: end;
}

.link {
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-white);
  text-transform: uppercase;
  color: var(--color-black);
  aspect-ratio: 1;
  font-size: 2rem;
  font-family: 'Bellefair', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.link::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: var(--color-grey);
  transform: scale(0);
  border-radius: 50%;
  opacity: 0.1;
  transition: all 200ms ease;
}

.link:hover::after {
  transform: scale(1);
}

@media (max-width: 48em) {
  .linkWrapper {
    max-width: 242px;
    justify-self: center;
  }

  .title {
    align-items: center;
    max-width: 450px;
    text-align: center;
  }

  .link {
    max-width: 242px;
  }

  .link::after {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 35em) {
  .linkWrapper {
    max-width: 150px;
    justify-self: center;
  }

  .title {
    gap: 20px;
  }

  .link {
    font-size: 1.25rem;
  }

  .link::after {
    width: 280px;
    height: 280px;
  }
}
